@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Rubik&display=swap');

body {
    background-color: #f3e3ae;   
}

.nav-wrapper {
    background-color: #f1d785;
    color: #000;
}

nav ul a {
    color: #000;
}

h1 {
    font-family: 'Bowlby One', cursive;
    background-color: #f1d785;
    color: #fff;
    padding: 1.25rem;
    margin-top: 0;
}

h1 span {
    color: #ab8b4d;
}

h3 {
    font-family: 'Bowlby One', cursive;
    color: #3b89cf;

}

.intro {
    font-family: cursive;
    text-align: center;
}

p {
    text-align: center;
    margin: 1.25rem;
    font-family: 'Rubik', sans-serif;
}

hr {
    height: 3px;
    background-color: #3b89cf;
    border: none;
}

.disclaimer {
    text-align: right;
}