<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <div class="container">
    <h3 class="center-align">Add A Player</h3>
    <div class="row">
      <form
        action="{{ url_for('insert_player') }}"
        method="POST"
        class="col s12"
      >
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">assignment_ind</i>
            <input
              id="player_name"
              name="player_name"
              type="text"
              class="validate"
            />
            <label for="icon_prefix">Player Name</label>
          </div>
        </div>

        <div id="" class="row">
          <button
            class="btn #1e88e5 blue darken-1"
            type="submit"
            name="action"
          >
            Add Player
            <i class="material-icons right">playlist_add</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}
</html>
