<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!--My css link-------------->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon(1).ico')}}"
      type="image/x-icon"
    />

    

    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >

          <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('search', search_category='all')}}">Puzzles</a></li>
            {% if 'user' in session %}
            <li><a href="{{url_for('my_puzzles')}}">My Puzzles</a></li>
            <li><a href="{{url_for('my_account')}}">My Account</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li><a href="{{url_for('register')}}">Join</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{url_for('index')}}"><i class="material-icons left">home</i>Home</a></li>
      <li><a href="{{url_for('search', search_category='all')}}"><i class="material-icons left">school</i>Puzzles</a></li>
      {% if 'user' in session %}
      <li><a href="{{url_for('my_puzzles')}}"><i class="material-icons left">playlist_add</i>My Puzzles</a></li>
      <li><a href="{{url_for('my_account')}}"><i class="material-icons left">settings</i>My Account</a></li>
      <li><a href="{{url_for('logout')}}"><i class="material-icons left">exit_to_app
</i>Logout</a></li>
      {% else %}
      <li><a href="{{url_for('register')}}"><i class="material-icons left">person_add</i>Join</a></li>
      <li><a href="{{url_for('login')}}"><i class="material-icons left">person</i>Login</a></li>
      {% endif %}
    </ul>
    <main>
    <header>
      <h1 class="center-align">Picture <span>Puzzles</span></h1>
    </header>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="container center-align">
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endwith %} {% block content %} {% endblock %}
    </main>

    <footer class="page-footer">
        
          <div class="footer-copyright">
            <div class="container disclaimer">© 2020 Peter Kellett
            <em>(For demonstration purposes only)</em>
            
            </div>
          </div>
        </footer>

    <!--jQuery-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        console.log("Document ready!");
        $(".sidenav").sidenav();
        $("select").formSelect();
        $(".dropdown-trigger").dropdown();
      });
    </script>
  </body>
</html>
