<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Puzzles{% endblock %} {% block
  content %}
  <div class="container">
  <!--Div for letter array-->
    <div class="row center-align letter_array">
      | {% for letter in alphabet_array %}
      <a href="{{url_for('search', search_category=letter)}}">
        {% if letter==search_category %}
        <strong>{{letter.capitalize()}}</strong>
        {% else %} {{letter.capitalize()}} {% endif %} |
      </a>
      {% endfor %}
    </div>
    <!--Difficulty drop down button-->
    <div class="row center-align">
      <div class="col s6 offset-s3 l2 offset-l5">
        <!--Button Dropdown Trigger -->
        <a
          class="dropdown-trigger deep-orange btn-small"
          href="#"
          data-target="dropdown1"
          >Difficulty</a
        >
        <!--Button Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content deep-orange">
          <li>
            <a
              class="white-text"
              href="{{url_for('search', search_category='All')}}"
              >All</a
            >
          </li>
          {% for diff in difficulty %}
          <li>
            <a
              class="white-text"
              href="{{url_for('search', search_category=diff.difficulty)}}"
              >{{diff.difficulty.capitalize()}}</a
            >
          </li>
          {% endfor%}
        </ul>
      </div>


    </div>
  </div>
    <!--Dingbat puzzle cards-->
  <div class="container">
    <div class="row">
      {% for puzzle in puzzles %}
      <div class="col s6 m4 l2">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{{puzzle.image}}" alt="Dingbat image"/>
          </div>
          <div class="card-content">
            <div class="card-answer ">
              <button
                class="answer-button deep-orange text-lighten-1 btn-small btn-flat"
              >
                See Answer
              </button>
              <p class="left-align answer" hidden>
              {{puzzle.answer.title()}}
            </p>
            </div>
            <p class="left-align">
              Difficulty: {{puzzle.difficulty.capitalize()}}
            </p>
            <p class="left-align">Contributer:</p>
            <a
              href="{{url_for('my_puzzles', id=puzzle['contributer_id'])}}"
              class="left-align"
              >{{puzzle.contributer_name.title()}}</a
            >
          </div>
          <div class="div thumb-icons">
          <!--Check to see if user has previously liked the dingbat-->
            {% if 'user' in session %} 
            <!--Declare a variable 'liked' and set to False-->
            {% set ns = namespace(liked=false) %} 
            <!--Iterate through the documents liked array-->
            {% for item in puzzle.likes %} 
            <!--If an item in the documents liked array equals the users session["id"] then set the 'liked' variable to True-->
            {% if item == session.id %} 
            {% set ns.liked = True %} {% endif %} {% endfor %} 
            <!--If the 'liked' variable equals True then indicate this by setting the thumb icon to large and setting the href to the route 'unlike'-->
            {% if ns.liked == True %}
            <a href="{{ url_for('unlike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left like icon-large">thumb_up</i>
            </a>
            {% else %}
            <!--If the 'liked' variable equals False then indicate this by setting the thumb icon to normal and setting the href to the route 'like'-->
            <a href="{{ url_for('like', puzzle_id=puzzle._id)}}">
              <i class="material-icons left like">thumb_up</i>
            </a>
            {% endif %}
            <!--To declare the total 'Likes' the Dingbat has is to count the number of items in the documents 'likes' array and display the total-->
            <p class="like left-align">{{ puzzle.likes|count }}</p>

            <!--Logic similiar as above but for declaring 'Dislikes'-->
            {% set ns = namespace(disliked=false) %} {% for item in
            puzzle.dislikes %} {% if item == session.id %} {% set ns.disliked =
            True %} {% endif %} {% endfor %} {% if ns.disliked == True %}
            <a href="{{ url_for('undislike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left dislike icon-large"
                >thumb_down</i
              ></a
            >
            {% else %}
            <a href="{{ url_for('dislike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left dislike">thumb_down</i></a
            >
            {% endif %}
            <p class="dislike left-align">{{ puzzle.dislikes|count }}</p>
            {% else %}
            <a href="{{ url_for('like', puzzle_id=puzzle._id)}}">
              <i class="material-icons left">thumb_up</i>
            </a>
            <p class="like left-align">{{ puzzle.likes|count }}</p>
            <a href="{{ url_for('dislike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left">thumb_down</i>
            </a>
            <p class="dislike left-align">{{ puzzle.dislikes|count }}</p>
            {% endif %}
          </div>
        
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  <script>
    $(document).ready(function () {
      console.log("Xtra Document ready!");
      $(".answer-button").click(function () {
          $(this).toggle();
        $(this).siblings(".answer").toggle();
      });
      $(".answer").click(function() {
          $(this).toggle();
        $(this).siblings(".answer-button").toggle();
      })
    });
  </script>

  {% endblock %}
</html>
