<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Puzzles{% endblock %} {% block
  content %}
  <div class="container">
    <div class="row center-align letter_array">
      | {% for letter in alphabet_array %}
      <a href="{{url_for('search', search_category=letter)}}">
        {% if letter==search_category %}
        <strong>{{letter.capitalize()}}</strong>
        {% else %} {{letter.capitalize()}} {% endif %} |
      </a>
      {% endfor %}
    </div>

    <div class="row center-align">
      <div class="col s5 offset-s1 m4 offset-m2 l3 offset-l3">
        <!-- Dropdown Trigger -->
        <a
          class="dropdown-trigger deep-orange btn"
          href="#"
          data-target="dropdown1"
          >Difficulty</a
        >
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content deep-orange">
          <li>
            <a
              class="white-text"
              href="{{url_for('search', search_category='All')}}"
              >All</a
            >
          </li>
          {% for diff in difficulty %}
          <li>
            <a
              class="white-text"
              href="{{url_for('search', search_category=diff.difficulty)}}"
              >{{diff.difficulty.capitalize()}}</a
            >
          </li>
          {% endfor%}
        </ul>
      </div>

      <div class="col s5 m4 l3">
        <!-- Dropdown Trigger -->
        <a
          class="dropdown-trigger deep-orange btn"
          href="#"
          data-target="dropdown2"
          >Contributer</a
        >
        <!-- Dropdown Structure -->
        <ul id="dropdown2" class="dropdown-content deep-orange">
          <li>
            <a
              class="white-text"
              href="{{url_for('search', search_category='all')}}"
              >All</a
            >
          </li>
          {% for contributer in contributers %}
          <li>
            <a
              class="white-text"
              href="{{url_for('my_puzzles', id=contributer['_id'])}}"
              >{{ contributer.username }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for puzzle in puzzles %}
      <div class="col s6 m4 l2">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{{puzzle.image}}" />
          </div>
          <div class="card-content">
            <div class="card-answer ">
              <button
                class="answer-button deep-orange text-lighten-1 btn-small btn-flat"
              >
                See Answer
              </button>
              <p class="left-align answer" hidden>
              {{puzzle.answer.title()}}
            </p>
            </div>
            <p class="left-align">
              Difficulty: {{puzzle.difficulty.capitalize()}}
            </p>
            <p class="left-align">Contributer:</p>
            <a
              href="{{url_for('my_puzzles', id=puzzle['contributer_id'])}}"
              class="left-align"
              >{{puzzle.contributer_name.title()}}</a
            >
          </div>
          <div class="div thumb-icons">
            {% if 'user' in session %} {% set ns = namespace(liked=false) %} {%
            for item in puzzle.likes %} {% if item == session.id %} {% set
            ns.liked = True %} {% endif %} {% endfor %} {% if ns.liked == True
            %}
            <a href="{{ url_for('unlike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left like icon-large">thumb_up</i>
            </a>
            {% else %}
            <a href="{{ url_for('like', puzzle_id=puzzle._id)}}">
              <i class="material-icons left like">thumb_up</i>
            </a>
            {% endif %}
            <p class="like left-align">{{ puzzle.likes|count }}</p>

            {% set ns = namespace(disliked=false) %} {% for item in
            puzzle.dislikes %} {% if item == session.id %} {% set ns.disliked =
            True %} {% endif %} {% endfor %} {% if ns.disliked == True %}
            <a href="{{ url_for('undislike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left dislike icon-large"
                >thumb_down</i
              ></a
            >
            {% else %}
            <a href="{{ url_for('dislike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left dislike">thumb_down</i></a
            >
            {% endif %}
            <p class="dislike left-align">{{ puzzle.dislikes|count }}</p>
            {% else %}
            <a href="{{ url_for('like', puzzle_id=puzzle._id)}}">
              <i class="material-icons left">thumb_up</i>
            </a>
            <p class="like left-align">{{ puzzle.likes|count }}</p>
            <a href="{{ url_for('dislike', puzzle_id=puzzle._id)}}">
              <i class="material-icons left">thumb_down</i>
            </a>
            <p class="dislike left-align">{{ puzzle.dislikes|count }}</p>
            {% endif %}
          </div>
        
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      console.log("Xtra Document ready!");
      $(".answer-button").click(function () {
          $(this).toggle();
        $(this).siblings(".answer").toggle();
      });
      $(".answer").click(function() {
          $(this).toggle();
        $(this).siblings(".answer-button").toggle();
      })
    });
  </script>

  {% endblock %}
</html>
