<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Browse{% endblock %} {% block
  content %}
  <div class="container">
    <div class="row center-align letter_array">|
      {% for letter in alphabet_array %}
      <a href="{{url_for('search', search_category=letter)}}"
        >{{letter.capitalize()}} |
      </a>
      {% endfor %}
    </div>
    <div class="row center-align">
      <div class="col s6">
        <!-- Dropdown Trigger -->
        <a class="dropdown-trigger deep-orange btn" href="#" data-target="dropdown1"
          >Difficulty</a
        >
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content deep-orange">
          <li>
            <a class="white-text" href="{{url_for('search', search_category='all')}}">All</a>
          </li>
          {% for diff in difficulty %}
          <li>
            <a class="white-text" href="{{url_for('search', search_category=diff.difficulty)}}"
              >{{diff.difficulty.capitalize()}}</a
            >
          </li>
          {% endfor%}
        </ul>
      </div>

      <div class="col s6">
        <!-- Dropdown Trigger -->
        <a class="dropdown-trigger deep-orange btn" href="#" data-target="dropdown2"
          >Contributer</a
        >
        <!-- Dropdown Structure -->
        <ul id="dropdown2" class="dropdown-content deep-orange">
          <li>
            <a class="white-text" href="{{url_for('search', search_category='all')}}">All</a>
          </li>
          {% for contributer in contributers %}
          <li>
            <a class="white-text" 
              href="{{url_for('search', search_category=contributer.username)}}"
              >{{ contributer.username }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for puzzle in puzzles %}
      <div class="col s6 m4 l2">
        <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{puzzle.image}}" />
          </div>
          <div class="card-content">
            <div class="card-title grey-text text-lighten-4"
              ><button class="activator deep-orange text-lighten-1 btn-small btn-flat">See Answer</button></div
            >
            <p class="left-align">
              Difficulty: {{puzzle.difficulty.capitalize()}}
            </p>
            <p class="left-align">Contributer:</p>
            <p class="left-align">{{puzzle.added_by.title()}}</p>
          </div>
          <div class="div thumb-icons">
            <p hidden>{{puzzle._id}}</p>
            {% if 'user' in session %}
                <i class="material-icons right dislike">thumb_down</i>
                <i class="material-icons right like">thumb_up</i>
            {% else %}
                <i class="material-icons right">thumb_down</i>
                <i class="material-icons right">thumb_up</i>
            {% endif %}
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"
              >Answer<i class="material-icons right">close</i></span
            >
            <p class="left-align">
              {{puzzle.answer.title()}}
            </p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  <!--This script toggles the like and dislike visual fx-->
  <script type="text/javascript">
    $(document).ready(function () {
      console.log("Browse document ready!");
      likes = [];
      dislikes = [];
      console.log("Likes = ", likes);
      console.log("Dislikes = ", dislikes);

      $("i").click(function () {
        //var xhttp = new XMLHttpRequest();
        id = $(this).siblings("p").text();
        
        if ($(this).prev().hasClass("icon-large")) {
          console.log("if");
          dislikes.pop({ key: id });
          likes.push({ key: id, value: 1 });
          $(this).toggleClass("icon-large");
          $(this).prev().toggleClass("icon-large");
        } 
        else if ($(this).next().hasClass("icon-large")) {
          likes.pop({ key: id });
          dislikes.push({ key: id, value: 1 });
          $(this).toggleClass("icon-large");
          $(this).next().toggleClass("icon-large");
        } 
        else {
          if ($(this).hasClass("like")) {
            if ($(this).hasClass("icon-large")) {
              likes.pop({ key: id });
              $(this).toggleClass("icon-large");
            } 
            else {
              likes.push(id);
              $(this).toggleClass("icon-large");
            }
          } 
          else {
            if ($(this).hasClass("icon-large")) {
              dislikes.pop({ key: id });
              $(this).toggleClass("icon-large");
            } 
            else {
              dislikes.push({ key: id, value: 1 });
              $(this).toggleClass("icon-large");
            }
          }
        }
        console.log("Likes = ", likes);
        console.log("Dislikes = ", dislikes);
        $.get("/background_process2/", {
            id: id
        });
        //xhttp.open("GET", "", true)
        //xhttp.send("likes");
        //return likes;
      });
    });
  </script>
  {% endblock %}
</html>
