<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Upload{% endblock %} {% block
  content %}
  <div class="container form-surround center-align">
    <h2>Edit puzzle</h2>

    <div class="row">
      <form
        id="upload_puzzle"
        action="{{ url_for('update_puzzle', puzzle_id=puzzle._id) }}"
        method="POST"
        class="col s12"
      >
        <div class="row">
          <div class="input-field col s12 m6 offset-m3">
            <div id="thumbnail"></div>
            <img class="puzzle_image" src="{{ puzzle.image }}" />
            <div class="center-align" id="x-icon">Replace image</div>
            
          </div>
          <div class="input-field col s12 m6 offset-m3">
            <select
              id="difficulty"
              name="difficulty"
              type="text"
              class="validate"
              required
            >
              <!--
                <option value="" disabled selected>Difficulty</option>
            -->
              {% for category in difficulty %} {% if category.difficulty ==
              puzzle.difficulty %}
              <option value="{{category.difficulty}}" selected
                ><div>{{category.difficulty.title()}}</div></option
              >
              {% else %}
              <option value="{{category.difficulty}}"
                ><div>{{category.difficulty.title()}}</div></option
              >
              {% endif %} {% endfor %}
            </select>
            <label for="difficulty">Difficulty</label>
          </div>

          <div class="input-field col s12 m6 offset-m3">
            <input
              id="answer"
              name="answer"
              type="text"
              class="validate"
              value="{{puzzle.answer}}"
              required
            />
            <label for="answer">Answer</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m4 offset-m2 l3 offset-l3">
            <a
              href="{{url_for('my_puzzles', id=session['id'])}}"
              class="deep-orange btn"
              ><i class="material-icons left">chevron_left</i>Back</a
            >
          </div>

          <div class="col s6 m4 offset-m2 l3">
            <button class="btn deep-orange" type="submit" name="action">
              Upload
              <i class="material-icons right">cloud_upload</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script
    src="https://widget.cloudinary.com/v2.0/global/all.js"
    type="text/javascript"
  ></script>

  <!--This script configures the Cloudinary connection-->
  <script type="text/javascript">
    var myWidget = cloudinary.createUploadWidget(
      {
        cloudName: "dfboxofas",
        uploadPreset: "ikvka7yt",
        multiple: false,
        cropping: true,
        folder: "project-3",
        form: "#upload_puzzle",
        fieldName: "image",
        thumbnails: "#thumbnail",
        autoMinimise: true,
        showCompletedButton: true,
      },
      (error, result) => {
        if (!error && result && result.event === "success") {
          console.log("Done! Here is the image info: ", result.info);
          //$("#x-icon").hide();
          $(".puzzle_image").hide();
        }
      }
    );

    if (myWidget.isMinimized()) {
      console.log("widget showing");
    } else {
      console.log("not showing");
      document.getElementById("x-icon").addEventListener(
        "click",
        function () {
          myWidget.open();
          //$(this).hide();
          //$(".puzzle_image").hide();
        },
        false
      );
    }

    
    $(".CloseButton").click(function () {
      console.log("widget closed");
      $(".puzzle_image").show();
      $("#x-icon").show();
    });
  </script>
  {% endblock %}
</html>
