<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Upload{% endblock %} {% block
  content %}
  <div class="container form-surround center-align">
    <h2>Edit puzzle</h2>

    <div class="row">
      <form
        id="upload_puzzle"
        action="{{ url_for('update_puzzle', puzzle_id=puzzle._id) }}"
        method="POST"
        class="col s12"
      >
        <div class="row">
          <div class="input-field col s12 m6 offset-m2">
            
            <div id="thumbnail"><img src="{{ puzzle.image }}"></div>
            <button id="upload_widget" class="cloudinary-button">
              Upload image
            </button>
          </div>
          <div class="input-field col s12 m6 offset-m3">
            <select
              id="difficulty"
              name="difficulty"
              type="text"
              class="validate"
              required
            >
              <!--
                <option value="" disabled selected>Difficulty</option>
            -->
              {% for category in difficulty %} {% if category.difficulty ==
              puzzle.difficulty %}
              <option value="{{category.difficulty}}" selected
                ><div>{{category.difficulty.title()}}</div></option
              >
              {% else %}
              <option value="{{category.difficulty}}"
                ><div>{{category.difficulty.title()}}</div></option
              >
              {% endif %} {% endfor %}
            </select>
            <label for="difficulty">Difficulty</label>
          </div>

          <div class="input-field col s12 m6 offset-m3">
            <input
              id="answer"
              name="answer"
              type="text"
              class="validate"
              value="{{puzzle.answer}}"
              required
            />
            <label for="answer">Answer</label>
          </div>
        </div>
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Upload
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
  {% endblock %}
</html>
