<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Forgot Password{% endblock %} {%
  block content %}
  <div class="container form-surround center-align">
    <h2>Forgot Password</h2>
    <p>Submit the form an we'll email a link for you to reset your password.</p>
    <div class="row">
      <form
        class="col s12"
        onsubmit="sendMail(this);"
        id="contact-form"
        action="{{ url_for('email_sent')}}"
      >
        <div class="row">
          <div class="input-field col s8 offset-s2">
            <input
              id="email"
              name="email"
              type="email"
              class="validate"
              required
            />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6 offset-s3 l2 offset-l5">
            <button
              class="deep-orange text-lighten-1 btn"
              type="submit"
              name="action"
            >
              Send
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col s6 m3 offset-m2">
        <p>Click here to <a href="{{ url_for('login') }}">Login</a></p>
      </div>
      <div class="col s6 m3 offset-m2">
        <p>Click here to <a href="{{ url_for('register') }}">Join Up</a></p>
      </div>
    </div>
  </div>
  <!--Emailjs link for forgot password functionality-->
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"
  ></script>
  <script type="text/javascript">
    (function () {
      emailjs.init("user_LiY6iTPtiqqx7R7V0sPui");
    })();
  </script>
  <script type="text/javascript">
    function sendMail(contactForm) {
      var email = contactForm.email.value;
      console.log(email);
      emailjs
        .send("gmail", "forgot_password", {
          to_email: email,
        })
        .then(
          function (response) {
            console.log("SUCCESS", response);
          },
          function (error) {
            console.log("ERROR", error);
          }
        );
      console.log("End of script");
    }
  </script>
  {% endblock %}
</html>
