<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <!-- dc CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css"
    type="text/css"
  />
  <!-- d3 charting library -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"
    integrity="sha256-SQJ/nCYPXFPuqoS56EfnesDBPNiitndOIfN2WdPRi/o="
    crossorigin="anonymous"
  ></script>
  <!-- Crossfilter charting library -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"
    integrity="sha256-T9tvV3x+/vCnCoFciKNZwbaJ46q9lh6iZjD0ZjD95lE="
    crossorigin="anonymous"
  ></script>
  <!-- dc charting library -->

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.2.1/dc.min.js"
    integrity="sha256-g36jGLL708D9oZr5QHvv1KB0lnMupwfKDFK2nTK+PD0="
    crossorigin="anonymous"
  ></script>

  <section class="container">
    <div class="center-align">
      <p class="intro">"Give a kid a ball and they will find a goal."</p>
      <p>
        Kids love to see how they're doing and how they compare to each other.
        Select a name and/or an opponent from the drop down menus or click on an
        area of a graph and see how their stats refocus.
      </p>
      {% for stat in stats %}
      {{stat.name}}
      {% endfor %}
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col s4 text-center">
        <p><b>Select a player name</b></p>
        <div id="select1"></div>
      </div>

      <div class="col s4 text-center">
        <p><b>Select an opponent</b></p>
        <div id="select2"></div>
      </div>
      <div class="col s4 text-center">
        <div class="dc-data-count">
          <span class="filter-count"></span> selected out of
          <span class="total-count"></span>
          records |
          <a
            class="main-reset"
            href="javascript:dc.filterAll(); dc.renderAll();"
            >Reset All</a
          >
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <section class="col s12 col l6 chart">
      <h5 class="center-align">
        <em>(Chart 1)</em> Match Attendance Start/Sub
      </h5>
      <div style="width: 100%;">
        <div id="attendance-chart">
          <span class="reset" style="display: none;"
            ><strong>Player(s) selected: </strong><span class="filter"></span
          ></span>
          <a
            class="reset"
            href="javascript:attendanceStackedBarChart.filterAll();dc.redrawAll();"
            style="display: none;"
            >Reset</a
          >
          <div class="clearfix"></div>
        </div>
      </div>
      <p>
        This chart shows the number of games each player has played split
        between the number of matches started and the number of which they were
        a substitute.
      </p>
    </section>

    <section class="col s12 col l6 chart">
      <h5 class="center-align"><em>(Chart 2)</em> Ratings Chart</h5>
      <div style="width: 100%;">
        <div id="ratings-composite-chart"></div>
        <p>
          This chart shows the match rating each player has acquired each
          matchday week.
        </p>
      </div>
    </section>
  </div>

  <section>
    <div class="row">
      <div class="col s12 col l6 chart">
        <h5 class="center-align">
          <em>(Chart 3) </em>Total Goals/Assists Per Person
        </h5>
        <div style="width: 100%;">
          <div id="goals-per-person-chart">
            <span class="reset" style="display: none;"
              ><strong>Player(s) selected: </strong><span class="filter"></span
            ></span>
            <a
              class="reset"
              href="javascript:personGoalsAssistsBarChart.filterAll();dc.redrawAll();"
              style="display: none;"
              >Reset</a
            >
            <div class="clearfix"></div>
          </div>
        </div>
        <p>
          This chart shows the number of goals and assists each player made.
        </p>
      </div>
      <div class="col s12 col l6 chart">
        <h5 class="center-align">
          <em>(Chart 4)</em> Total Goals/Assists Per Opponent
        </h5>
        <div style="width: 100%;">
          <div id="goals-per-opponent-chart">
            <span class="reset" style="display: none;"
              ><strong>Opponent(s) selected: </strong
              ><span class="filter"></span
            ></span>
            <a
              class="reset"
              href="javascript:opponentGoalsAssistsBarChart.filterAll();dc.redrawAll();"
              style="display: none;"
              >Reset</a
            >
            <div class="clearfix"></div>
          </div>
        </div>
        <p>
          This chart shows the number of goals and assists made against each
          opponent played.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col s12 col l6 chart">
        <h5 class="center-align"><em>(Chart 5)</em></h5>
        <div class="row justify-content-center">
          <div class="col s6">
            <h5 class="center-align">Total Assists Per Person</h5>
            <div style="width: 100%;">
              <div id="assists-per-person-piechart">
                <span class="reset" style="display: none;"
                  ><strong>Player(s) selected: </strong
                  ><span class="filter"></span
                ></span>
                <a
                  class="reset"
                  href="javascript:assistsPerPersonPieChart.filterAll();dc.redrawAll();"
                  style="display: none;"
                  >Reset</a
                >
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col s6">
            <h5 class="center-align">Total Goals Per Person</h5>
            <div style="width: 100%;">
              <div id="goals-per-person-piechart">
                <span class="reset" style="display: none;"
                  ><strong>Player(s) selected: </strong
                  ><span class="filter"></span
                ></span>
                <a
                  class="reset"
                  href="javascript:goalsPerPersonPieChart.filterAll();dc.redrawAll();"
                  style="display: none;"
                  >Reset</a
                >
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <p>
            These charts show the number of goals scored and assists made for
            each player.
          </p>
        </div>
      </div>

      <div class="col s12 col l6 chart">
        <h5 class="center-align"><em>(Chart 6)</em></h5>
        <div class="row justify-content-center">
          <div class="col s6">
            <h5 class="center-align">Total Assists Per Opponent</h5>
            <div style="width: 100%;">
              <div id="assists-per-opponent-piechart">
                <span class="reset" style="display: none;"
                  ><strong>Opponent(s) selected: </strong
                  ><span class="filter"></span
                ></span>
                <a
                  class="reset"
                  href="javascript:assistsPerOpponentPieChart.filterAll();dc.redrawAll();"
                  style="display: none;"
                  >Reset</a
                >
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col s6">
            <h5 class="center-align">Total Goals Per Opponent</h5>
            <div style="width: 100%;">
              <div id="goals-per-opponent-piechart">
                <span class="reset" style="display: none;"
                  ><strong>Opponent(s) selected: </strong
                  ><span class="filter"></span
                ></span>
                <a
                  class="reset"
                  href="javascript:goalsPerOpponentPieChart.filterAll();dc.redrawAll();"
                  style="display: none;"
                  >reset</a
                >
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <p>
            These charts show the number of goals scored and assists made
            against the various opponents faced.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="center-align">Active Data</h4>
        <!--Chart Table-->
        <table class="table table-hover dc-data-table"></table>
        <hr />
        <p class="disclaimer"><em>(For demonstration purposes only)</em></p>
      </div>
    </div>
  </section>

  <script>
    // jshint esversion: 6

    const select1 = new dc.selectMenu("#select1"); //Declare SelectMenu object
    const select2 = new dc.selectMenu("#select2"); //Declare SelectMenu object
    const attendanceStackedBarChart = new dc.barChart("#attendance-chart"); //Declare Match Attendance Start/Sub Chart object
    const ratingsLineChart = new dc.compositeChart("#ratings-composite-chart"); //Declare Match Ratings Chart object
    const personGoalsAssistsBarChart = new dc.barChart(
      "#goals-per-person-chart"
    ); //Declare Goals/Assists per person chart object
    const opponentGoalsAssistsBarChart = new dc.barChart(
      "#goals-per-opponent-chart"
    ); //Declare Goals/Assists per opponent chart object
    const assistsPerPersonPieChart = new dc.pieChart(
      "#assists-per-person-piechart"
    ); //Declare data count goals per person object
    const goalsPerPersonPieChart = new dc.pieChart(
      "#goals-per-person-piechart"
    ); //Declare Goals per person pie chart object
    const assistsPerOpponentPieChart = new dc.pieChart(
      "#assists-per-opponent-piechart"
    ); //Declare data count goals per opponent object
    const goalsPerOpponentPieChart = new dc.pieChart(
      "#goals-per-opponent-piechart"
    ); //Declare Goals per opponent chart object
    const visCount = dc.dataCount(".dc-data-count"); //Declare object for data count
    const visTable = dc.dataTable(".dc-data-table"); //Declare object for data table

    //Get data
    d3.json("{{url_for('static', filename='data/stats.json')}}").then(function (data) {
      //Parse the date
      const dateFormatSpecifier = "%d/%m/%Y";
      const dateFormatParser = d3.timeParse(dateFormatSpecifier);

      data.forEach((d) => {
        d.date = dateFormatParser(d.date);
      });

      //Create the crossfilter
      const ndx = crossfilter(data);
      const all = ndx.groupAll();

      //Create the name dimension for select menu
      const name_dim_select1 = ndx.dimension(dc.pluck("name"));
      const playerName = name_dim_select1.group();

      //Player name Select menu object
      select1.dimension(name_dim_select1).group(playerName);
      select1.title(function (d) {
        return d.key;
      });

      //Create the name dimension for select menu
      const opponent_dim_select2 = ndx.dimension(dc.pluck("opponent"));
      const opponentName = opponent_dim_select2.group();

      //Opponent Select menu object
      select2.dimension(opponent_dim_select2).group(opponentName);
      select2.title(function (d) {
        return d.key;
      });

      //Create name dimension for chart 1
      const name_dim1 = ndx.dimension(dc.pluck("name"));
      const dateDim = ndx.dimension(function (d) {
        return d.date;
      });
      const starts = name_dim1.group().reduceSum(dc.pluck("start"));
      const sub = name_dim1.group().reduceSum(function (d) {
        if (d.start === 0) {
          return +d.start + 1;
        } else {
          return 0;
        }
      });

      //Match Attendance Start/Sub Chart 1 object
      attendanceStackedBarChart
        .width($(attendanceStackedBarChart.anchor()).parent().width())
        .margins({ top: 30, right: 50, bottom: 30, left: 70 })
        .dimension(name_dim1)
        .group(starts, "Start")
        .stack(sub, "Sub")
        .transitionDuration(1000)
        .x(d3.scaleBand())
        .xUnits(dc.units.ordinal)
        .ordinalColors(["#3b89cf", "white"])
        .legend(dc.legend().x(0).y(10).itemHeight(15).gap(5));

      const date_dim = ndx.dimension(dc.pluck("date")); //Create date dimension
      const minDate = date_dim.bottom(1)[0].date; //Declare and get the minimum date
      const maxDate = date_dim.top(1)[0].date; //Declare and get the maximum date
      //Get the player rating for each date
      function rating_by_name(name) {
        return function (d) {
          if (d.name === name) {
            return d.rating;
          } else {
            return 0;
          }
        };
      }

      //Group the ratings by player name
      const jamieRating = date_dim.group().reduceSum(rating_by_name("Jamie"));
      const joshfRating = date_dim.group().reduceSum(rating_by_name("Josh F"));
      const joshrRating = date_dim.group().reduceSum(rating_by_name("Josh R"));
      const jamesRating = date_dim.group().reduceSum(rating_by_name("James"));
      const jackRating = date_dim.group().reduceSum(rating_by_name("Jack"));
      const seanRating = date_dim.group().reduceSum(rating_by_name("Sean"));
      const ralphRating = date_dim.group().reduceSum(rating_by_name("Ralph"));
      const alexRating = date_dim.group().reduceSum(rating_by_name("Alex"));
      const pavanRating = date_dim.group().reduceSum(rating_by_name("Pavan"));
      const tadghRating = date_dim.group().reduceSum(rating_by_name("Tadgh"));
      const coleRating = date_dim.group().reduceSum(rating_by_name("Cole"));
      const leeRating = date_dim.group().reduceSum(rating_by_name("Lee"));
      const marcusRating = date_dim.group().reduceSum(rating_by_name("Marcus"));
      const saadRating = date_dim.group().reduceSum(rating_by_name("Saad"));
      const paulRating = date_dim.group().reduceSum(rating_by_name("Paul"));
      const gusRating = date_dim.group().reduceSum(rating_by_name("Gus"));

      //Player ratings chart 2 object
      ratingsLineChart
        .width($(ratingsLineChart.anchor()).parent().width())
        .height(200)
        .margins({ top: 30, right: 50, bottom: 30, left: 70 })
        .dimension(date_dim)
        .transitionDuration(1000)
        .x(d3.scaleTime().domain([minDate, maxDate]))
        .legend(dc.legend().x(0).y(0).itemHeight(7).gap(5))
        .renderHorizontalGridLines(true)
        .compose([
          new dc.lineChart(ratingsLineChart)
            .colors("green")
            .group(jamieRating, "Jamie"),
          new dc.lineChart(ratingsLineChart)
            .colors("red")
            .group(joshfRating, "Josh F"),
          new dc.lineChart(ratingsLineChart)
            .colors("blue")
            .group(joshrRating, "Josh R"),
          new dc.lineChart(ratingsLineChart)
            .colors("maroon")
            .group(jackRating, "Jack"),
          new dc.lineChart(ratingsLineChart)
            .colors("yellow")
            .group(jamesRating, "James"),
          new dc.lineChart(ratingsLineChart)
            .colors("pink")
            .group(seanRating, "Sean"),
          new dc.lineChart(ratingsLineChart)
            .colors("tomato")
            .group(ralphRating, "Ralph"),
          new dc.lineChart(ratingsLineChart)
            .colors("orange")
            .group(alexRating, "Alex"),
          new dc.lineChart(ratingsLineChart)
            .colors("dodgerblue")
            .group(pavanRating, "Pavan"),
          new dc.lineChart(ratingsLineChart)
            .colors("mediumseagreen")
            .group(tadghRating, "Tadgh"),
          new dc.lineChart(ratingsLineChart)
            .colors("grey")
            .group(coleRating, "Cole"),
          new dc.lineChart(ratingsLineChart)
            .colors("slateblue")
            .group(leeRating, "Lee"),
          new dc.lineChart(ratingsLineChart)
            .colors("violet")
            .group(marcusRating, "Marcus"),
          new dc.lineChart(ratingsLineChart)
            .colors("lightgrey")
            .group(saadRating, "Saad"),
          new dc.lineChart(ratingsLineChart)
            .colors("teal")
            .group(paulRating, "Paul"),
          new dc.lineChart(ratingsLineChart)
            .colors("black")
            .group(gusRating, "Gus"),
        ])
        .brushOn(false)
        .render();

      //Create name dimension for chart 3
      const name_dim3 = ndx.dimension(dc.pluck("name"));
      const total_goals_per_person3 = name_dim3
        .group()
        .reduceSum(dc.pluck("goals"));
      //Group assists per person
      const total_assists_per_person3 = name_dim3
        .group()
        .reduceSum(dc.pluck("assists")); //Group assists per person

      //Goals/assists per person chart 3 object
      personGoalsAssistsBarChart
        .width($(personGoalsAssistsBarChart.anchor()).parent().width())
        .height(200)
        .margins({ top: 30, right: 50, bottom: 30, left: 70 })
        .dimension(name_dim3)
        .group(total_goals_per_person3, "Goals")
        .stack(total_assists_per_person3, "Assists")
        .transitionDuration(1000)
        .x(d3.scaleBand())
        .xUnits(dc.units.ordinal)
        .ordinalColors(["#3b89cf", "white"])
        .legend(dc.legend().x(0).y(10).itemHeight(15).gap(5));

      //Create opponent dimension for chart 4
      const opponent_dim4 = ndx.dimension(dc.pluck("opponent"));
      const total_goals_per_opponent4 = opponent_dim4
        .group()
        .reduceSum(dc.pluck("goals")); //Group goals per opponent
      const total_assists_per_opponent4 = opponent_dim4
        .group()
        .reduceSum(dc.pluck("assists")); //Group assists per opponent

      //Goals/asssists per opponent chart 4 object
      opponentGoalsAssistsBarChart
        .width($(opponentGoalsAssistsBarChart.anchor()).parent().width())
        .height(200)
        .margins({ top: 30, right: 50, bottom: 30, left: 70 })
        .dimension(opponent_dim4)
        .group(total_goals_per_opponent4, "Goals")
        .stack(total_assists_per_opponent4, "Assists")
        .transitionDuration(1000)
        .x(d3.scaleBand())
        .xUnits(dc.units.ordinal)
        .ordinalColors(["#3b89cf", "white"])
        .legend(dc.legend().x(0).y(10).itemHeight(15).gap(5));

      //Create name dimension for chart 5
      const name_dim5 = ndx.dimension(dc.pluck("name"));
      //Group goals per person
      const total_assists_per_person5 = name_dim5
        .group()
        .reduceSum(dc.pluck("assists"));
      const total_goals_per_person5 = name_dim5
        .group()
        .reduceSum(dc.pluck("goals"));

      //Create object Pie chart 5 assists
      assistsPerPersonPieChart
        .width($(assistsPerPersonPieChart.anchor()).parent().width())
        .dimension(name_dim5)
        .group(total_assists_per_person5)
        .transitionDuration(1000)
        .externalLabels(10)
        .externalRadiusPadding(17)
        .slicesCap(6)
        .minAngleForLabel(0.2);

      //Create object Pie chart 5 goals
      goalsPerPersonPieChart
        .width($(goalsPerPersonPieChart.anchor()).parent().width())
        .dimension(name_dim5)
        .group(total_goals_per_person5)
        .transitionDuration(1000)
        .externalLabels(10)
        .externalRadiusPadding(17)
        .slicesCap(6)
        .minAngleForLabel(0.2);

      //Create opponent dimension for chart 6
      const opponent_dim6 = ndx.dimension(dc.pluck("opponent"));
      const total_assists_per_opponent6 = opponent_dim6
        .group()
        .reduceSum(dc.pluck("assists")); //Group assists per opponent
      const total_goals_per_opponent6 = opponent_dim6
        .group()
        .reduceSum(dc.pluck("goals")); //Group goals per opponent

      //Create object Pie chart 6 assists
      assistsPerOpponentPieChart
        .width($(assistsPerOpponentPieChart.anchor()).parent().width())
        .transitionDuration(1000)
        .dimension(opponent_dim6)
        .group(total_assists_per_opponent6)
        .externalLabels(17)
        .externalRadiusPadding(30)
        .minAngleForLabel(0.2);

      //Create object Pie chart 6 Goals
      goalsPerOpponentPieChart
        .width($(goalsPerOpponentPieChart.anchor()).parent().width())
        .transitionDuration(1000)
        .dimension(opponent_dim6)
        .group(total_goals_per_opponent6)
        .externalLabels(17)
        .externalRadiusPadding(30)
        .minAngleForLabel(0.2);

      //Create object Data count
      visCount.crossfilter(ndx).groupAll(all);

      //Create object Data table
      visTable
        .dimension(dateDim)
        .section((d) => {
          return `${d.opponent}`;
        })
        .showSections(true)
        .columns([
          "name",
          {
            label: "Start/Sub",
            format: function (d) {
              if (d.start === 1) {
                return "Start";
              } else {
                return "Sub";
              }
            },
          },
          "goals",
          "assists",
          "rating",
        ])
        .size(1000);

      dc.renderAll();
      dc.redrawAll();
    });
  </script>
  {% endblock %}
</html>
