<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
  %}

  <section class="container">
    <div class="center-align">
      <h3 class="intro">
        "Welcome{% if 'user' in session %}
        <span>{{session.user.title()}}</span>{% endif %} to Picture Puzzles"
      </h3>
      <p>Can you guess the phrase by the images or have you got some good ones yourself?</p>
      <p>
        Feel free to browse our puzzles, you can even join us and upload your own ideas to
        add to the collection.
      </p>
      
      <a
        href="{{url_for('search', search_category='all')}}"
        class="waves-effect waves-light btn-large"
        ><i class="material-icons right">send</i>Browse</a
      >
    </div>
  </section>
  <section class="container">
    <img class="home-image" src="https://res.cloudinary.com/dfboxofas/image/upload/v1597497835/Project-3/home-image_bqfvqk.jpg" alt="Home image">
  </section>

  <script>
    // jshint esversion: 6
  </script>
  {% endblock %}
</html>
