<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Login{% endblock %} {% block
  content %}
  <div class="container form-surround center-align">
    <h2>Login</h2>
    <p>Welcome back :-)</p>
    <div class="row">
        {% from "_formhelpers.html" import render_field %}
        <form class="col s12" method="POST" action="{{ url_for('login') }}">
            <dl>
                <div class="row">
                    <div class="col s12 m6">
                        {{render_field(form.email)}}
                    </div>
                    <div class="col s12 m6">
                        {{render_field(form.password)}}
                </div>
            </div>
         </dl>
        <button class="btn deep-orange" type="submit" name="action" >Login
          <i class="material-icons right">send</i> </button>
    </form>
      

    </div>
    <div class="row">
      <div class="col s6 m3 offset-m2">
        <p>Click here if you <a href="{{ url_for('forgot_password') }}">Forgot password?</a></p>
      </div>
      <div class="col s6 m3 offset-m2">
        <p>Click here to <a href="{{ url_for('register') }}">Join Up</a></p>
      </div>
    </div>
  </div>

  {% endblock %}
</html>