<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <section class="container">
    <h3 class="intro">
      <span>"{{contributer["username"].title()}}'s"</span> dingbats
    </h3>
    <div class="row center-align">
      {% if contributer["_id"] == session["id"] %}
      <div class="col s6 m4 offset-m2 l3 offset-l3">
        <a
          href="{{url_for('browse', browse_category='All')}}"
          class="deep-orange btn"
          ><i class="material-icons left">chevron_left</i>Back</a
        >
      </div>
      <div class="col s6 m4 l3">
        <a href="{{url_for('upload_dingbat')}}" class="deep-orange btn"
          ><i class="material-icons right">cloud_upload</i
          ><strong>+</strong>dingbat</a
        >
      </div>
      {% else %}
      <div class="col s6 offset-s3 l2 offset-l5">
        <a
          href="{{url_for('browse', browse_category='All')}}"
          class="deep-orange btn"
          ><i class="material-icons left">chevron_left</i>Back</a
        >
      </div>
      {% endif %}
    </div>
  </section>
  <section class="container">
    <div class="row">
      {% for dingbat in dingbats %}
      <div class="col s6 m4 l2">
        <div class="card medium hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{{dingbat.image}}" />
          </div>
          <div class="card-content">
            <div class="card-answer">
              <button class="answer-button text-lighten-1 btn-small btn-flat">
                See Answer
              </button>
              <p class="left-align answer" hidden>
                {{dingbat.answer.capitalize()}}
              </p>
            </div>
            <p class="left-align">
              Difficulty:
            </p>
            <p class="left-align">{{dingbat.difficulty.capitalize()}}</p>
          </div>
          <div class="thumb-icons">
            {% if 'user' in session %} {% set ns = namespace(liked=false) %} {%
            for item in dingbat.likes %} {% if item == session.id %} {% set
            ns.liked = True %} {% endif %} {% endfor %} {% if ns.liked == True
            %}

            <i class="material-icons left like icon-large">thumb_up</i>

            {% else %}

            <i class="material-icons left like">thumb_up</i>

            {% endif %}
            <p class="like left-align">{{ dingbat.likes|count }}</p>

            {% set ns = namespace(disliked=false) %} {% for item in
            dingbat.dislikes %} {% if item == session.id %} {% set ns.disliked =
            True %} {% endif %} {% endfor %} {% if ns.disliked == True %}

            <i class="material-icons left dislike icon-large">thumb_down</i>

            {% else %}

            <i class="material-icons left dislike">thumb_down</i>

            {% endif %}
            <p class="dislike left-align">{{ dingbat.dislikes|count }}</p>
            {% else %}

            <i class="material-icons left">thumb_up</i>

            <p class="like left-align">{{ dingbat.likes|count }}</p>

            <i class="material-icons left">thumb_down</i>

            <p class="dislike left-align">{{ dingbat.dislikes|count }}</p>
            {% endif %}
          </div>
          {% if contributer['_id'] == session['id'] %}
          <div class="edit-buttons">
            <a
              href="{{url_for('edit_dingbat', dingbat_id=dingbat._id)}}"
              class="btn btn_small blue hoverable"
              >Edit</a
            >
            <!-- Modal Trigger -->
            <button
              data-target="modal1"
              class="btn btn_small red hoverable modal-trigger"
            >
              Delete
            </button>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
              <div class="modal-content center-align">
                <h4>Delete Dingbat?</h4>
                <p>Are you sure you wish to delete this dingbat?</p>
              </div>
              <div class="modal-footer center-align">
                <button class="no">
                  <a
                    href="#!"
                    class="modal-close btn-flat"
                    >No</a
                  >
                </button>
                <button class="yes">
                  <a
                    href="{{url_for('delete_dingbat', dingbat_id=dingbat._id)}}"
                    class="modal-close btn-flat"
                    >Yes</a
                  >
                </button>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".answer-button").click(function () {
        $(this).toggle();
        $(this).siblings(".answer").toggle();
      });
      $(".answer").click(function () {
        $(this).toggle();
        $(this).siblings(".answer-button").toggle();
      });
      $(".modal").modal();
    });
  </script>
  {% endblock %}
</html>
