<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <section class="container">
    <div class="center-align">
      <h3 class="intro">
        {% if 'user' in session %}<span>"{{session.user.title()}}{% endif %}'s"</span> puzzles
      </h3>
      <a
        href="{{url_for('upload_puzzle')}}"
        class="deep-orange btn"
        ><i class="material-icons right">cloud_upload</i>Upload a puzzle</a
      >
    </div>
  </section>
  <section class="container">
    <div class="row">
      {% for puzzle in puzzles %}
      <div class="col s6 m4 l2">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{{puzzle.image}}" />
          </div>
          <div class="card-content">
            <div
              ><p class="left-align">Answer: </p><p class="left-align"> {{puzzle.answer.title()}}</p>
              </div
            >
            <p class="left-align">
              Difficulty: </p><p class="left-align">{{puzzle.difficulty.capitalize()}}
            </p>
          </div>
          <div class="div thumb-icons">  
            <i class="material-icons left like">thumb_up</i>
            <p class="like left-align">{{ puzzle.likes|count }}</p>
            <i class="material-icons left dislike">thumb_down</i>
            <p class="dislike left-align">{{ puzzle.dislikes|count }}</p>
        </div>
          <div>          
            <a href="{{url_for('edit_puzzle', puzzle_id=puzzle._id)}}" class="btn btn_small blue">Edit</a>
            <a href="{{url_for('delete_puzzle', puzzle_id=puzzle._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>   
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"
              >Answer<i class="material-icons right">close</i></span
            >
            <h5 class="left-align">
              {{puzzle.answer.title()}}
            </h5>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </section>
  {% endblock %}
</html>
