<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Reset Password{% endblock %} {% block
  content %}
  <div class="container form-surround center-align">
    <h2>Reset link sent</h2>
    <p>An email has been sent to the address provided. Check your email for details.</p>
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col s3 offset-s3">
        <p><a href="{{ url_for('index') }}">Home Page</a></p>
      </div>
      <div class="col s3">
        <p>Click here to <a href="{{ url_for('register') }}">Join Up</a></p>
      </div>
    </div>
  </div>

  {% endblock %}
</html>
