<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block content %}
  <div class="container">
    <div class="row">
      <h3 class="center-align">Manage Squad</h3>
      <div class="row">
      <a href="{{url_for('add_player')}}" class="#1e88e5 blue darken-1 btn"
        ><i class="material-icons right">playlist_add</i>Add New Player</a
      >
    </div>
      <ul class="collapsible">
        {% for player in players %}
        <li>
          <div class="collapsible-header #e3f2fd blue lighten-5 center-align">
            <div class="col s3">
              <div class="inline_actions">
                <a
                  href="{{url_for('delete_player', player_id=player._id)}}"
                  class="waves-effect waves-light btn btn_small red"
                  >Del</a
                >
                <a
                  href="{{url_for('edit_player', player_id=player._id)}}"
                  class="waves-effect waves-light btn btn_small blue"
                  >Edit</a
                >
              </div>
            </div>
            <div class="task_header col s9">
              <strong>{{player.player_name.title()}}</strong>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    
  </div>
  {% endblock %}
</html>
