<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Reset{% endblock %} {% block
  content %}
  <div class="container form-surround center-align">
    <h2>Reset Password</h2>
    <div class="row">
      {% from "_formhelpers.html" import render_field %}
      <form
        action="{{ url_for('reset_password') }}"
        method="POST"
        class="col s12"
      >
        <div class="row">
          <div class="input-field col s12 m6">
            {{render_field(form.password)}}
          </div>
          <div class="input-field col s12 m6">
            {{render_field(form.confirm)}}
          </div>
        </div>
        <div class="row">
          <div class="col s6 m4 offset-m2 l3 offset-l3">
            <a
              href="{{url_for('my_account')}}"
              class="deep-orange btn"
              ><i class="material-icons left">chevron_left</i>Back</a
            >
          </div>
          <div class="col s6 m4 offset-m2 l3">
            <button class="deep-orange btn" type="submit" name="action">
              Confirm
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>

    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}
  </div>

  {% endblock %}
</html>
