<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html' %} {% block title %}Reset{% endblock %} {% block
  content %}
  <div class="container form-surround center-align">
    <h2>Reset Password</h2>
    <div class="row">
    {% from "_formhelpers.html" import render_field %}
      <form action="{{ url_for('reset_password') }}" method="POST" class="col s12">
        
        <div class="row">
          <div class="input-field col s12 m6">
            {{render_field(form.password)}}
          </div>
          <div class="input-field col s12 m6">
            {{render_field(form.confirm)}}
          </div>
        </div>
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Confirm
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
    <div class="row">
      <div class="col s3 offset-s3">
        <p>Click here if you <a href="{{ url_for('forgot_password') }}">Forgot password?</a></p>
      </div>
      <div class="col s3">
        <p>Click here to <a href="{{ url_for('register') }}">Join Up</a></p>
      </div>
    </div>
    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}
  </div>

  {% endblock %}
</html>
